header{
    font-size: x-large;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 5px;
    padding: 0;
}

body {
    font-size: large;
    background-color:#A3C1EE;
    margin: 25px;
}

li {
    padding: 5px;
    
}